.wrapper {
  display: grid;
  grid-gap: 2em;
  max-width: 940px;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 0fr 0.4fr;
  margin: 0 auto;
  font-family: roboto;
}
.wrapper > * {
  background-color: #ABB1BA;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}


.header {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.contact {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.experiences {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.formations {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  text-align: center;

}

h1 { text-align: center; /* j'aligne mon titre h1 dans la box */
}

h2 { text-align: center; /* j'aligne mes sous titre h2 */
  color: #40889b; /* je donne la couleur bleu à mes sous titres h2*/
  font-size: 30px; /* je met une taille plus petite*/

}

h3 { text-align: center; /* j'aligne mes sous titre h2 */
  color: #40889b; /* je donne la couleur bleu à mes sous titres h2*/
  font-size: 42px; /* je met une taille plus petite*/

}

hr {
  height: 2px;
  background-color: white;
  width: 70%;
  border: 0px;
  margin-top: -20px;
}